body {
    font-size: $dpx;
    background: #15032a;
    background-image: url('../images/body/bg.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    @media screen and (max-width: map-get($container-max-widths, sm)) {
        background: #15032a;
        font-size: $mdpx;
    }
}
