footer {
    height: 500px;
    background: #15032a;
    h4 {
        font: 700 11px $montserrat;
        text-transform: uppercase;
        line-height: 1.091;
        color: #0d4363;
        margin-top: 60px;
        margin-bottom: 20px;
    }
    p {
        font: 400 12px $montserrat;
        color: #FFFFFF;
        line-height: 2;
    }
    span {
        font: 400 12px $montserrat;
        color: #FFFFFF;
        line-height: 2;
        margin-bottom: 15px;
        display: inline-block;
    }
    span.policy {
        margin-top: 60px;
        color: #5c5b61;
        opacity: 0.4;
    }
}
