include mixins/index

doctype html
html(lang="zxx" dir="ltr")
    head
        title pixture
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=0')
        +stylesheet('stylesheets/main.min.css')
        link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet')
        script(src='js/jquery.min.js')
    body.home.container-fluid
        .row.head
            .container
                .row.no-gutters
                    .left-space
                        i(class='fa fa-bars' aria-hidden='true')
                        span paint the power
                            span  blaz robar
                    .body.col-20
                        .mid
                            .h1
                                |Paint
                                br
                                .transparent-icon
                                    .circle
                                        span your
                                |pixture
                    .bottom.row.col-20
                        .text.col-15.offset-1.col-sm-9
                            h4 Humble Beginings
                            p Lorem ipsum dolor sit amet, per postulant periculis voluptatum an, ne dolor mnesarchum vim. Iriure oporteat referrentur cu pro.
                        .date.col-4.offset-6
                            .arrow
                            span April 19th 2016
        .row.cards.cards-1
            .container
                .row.no-gutters
                    h3 Pictures worth seeing
                    .body.col-20.multiple-items
                        .card
                            img(src='images/cards/card.png')
                            span.likes
                                i(class='fa fa-heart' aria-hidden='true')
                                |382
                            h3 decayed
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            .chat
                                span.comments
                                    i(class='fa fa-comments' aria-hidden='true')
                                    |374 comments
                                button
                                    i(class='fa fa-ellipsis-h' aria-hidden='true')
                        .card
                            img(src='images/cards/card.png')
                            span.likes
                                i(class='fa fa-heart' aria-hidden='true')
                                |382
                            h3 bliss texture
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            .chat
                                span.comments
                                    i(class='fa fa-comments' aria-hidden='true')
                                    |374 comments
                                button
                                    i(class='fa fa-ellipsis-h' aria-hidden='true')
                        .card
                            img(src='images/cards/card.png')
                            span.likes
                                i(class='fa fa-heart' aria-hidden='true')
                                |382
                            h3 decayed
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            .chat
                                span.comments
                                    i(class='fa fa-comments' aria-hidden='true')
                                    |374 comments
                                button
                                    i(class='fa fa-ellipsis-h' aria-hidden='true')
                        .card
                            img(src='images/cards/card.png')
                            span.likes
                                i(class='fa fa-heart' aria-hidden='true')
                                |382
                            h3 bliss texture
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            .chat
                                span.comments
                                    i(class='fa fa-comments' aria-hidden='true')
                                    |374 comments
                                button
                                    i(class='fa fa-ellipsis-h' aria-hidden='true')
                        .card
                            img(src='images/cards/card.png')
                            span.likes
                                i(class='fa fa-heart' aria-hidden='true')
                                |382
                            h3 bliss texture
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            .chat
                                span.comments
                                    i(class='fa fa-comments' aria-hidden='true')
                                    |374 comments
                                button
                                    i(class='fa fa-ellipsis-h' aria-hidden='true')
                        .card
                            img(src='images/cards/card.png')
                            span.likes
                                i(class='fa fa-heart' aria-hidden='true')
                                |382
                            h3 bliss texture
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            .chat
                                span.comments
                                    i(class='fa fa-comments' aria-hidden='true')
                                    |374 comments
                                button
                                    i(class='fa fa-ellipsis-h' aria-hidden='true')
        .row.head-2
            .container
                .row.no-gutters
                    .left-space
                        span paint the power
                            span  blaz robar
                    .body.col-20
                        .mid
                            .h1
                                |It's your
                                br
                                .transparent-icon
                                    .circle
                                        span only
                                |passion
                    .bottom.row.col-20
                        .text.col-9.offset-1
                            h4 Textures makes art
                            p Lorem ipsum dolor sit amet, per postulant periculis voluptatum an, ne dolor mnesarchum vim. Iriure oporteat referrentur cu pro.
                        .date.col-4.offset-6
                            .arrow
                            span April 19th 2016
        .row.head-3
            .container
                .row.no-gutters
                    .row.container
                        .left-space
                            span
                                span january 2016
                        .col-sm-10.col-19
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                        .col-sm-10.col-19
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        .row.cards.cards-1
            .container
                .row.no-gutters
                    h3 articles worth seeing
                    .body.col-20.multiple-items
                        .card
                            img(src='images/cards/card.png')
                            span.likes
                                i(class='fa fa-heart' aria-hidden='true')
                                |382
                            h3 decayed
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            .chat
                                span.comments
                                    i(class='fa fa-comments' aria-hidden='true')
                                    |374 comments
                                button
                                    i(class='fa fa-ellipsis-h' aria-hidden='true')
                        .card
                            img(src='images/cards/card.png')
                            span.likes
                                i(class='fa fa-heart' aria-hidden='true')
                                |382
                            h3 bliss texture
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            .chat
                                span.comments
                                    i(class='fa fa-comments' aria-hidden='true')
                                    |374 comments
                                button
                                    i(class='fa fa-ellipsis-h' aria-hidden='true')
                        .card
                            img(src='images/cards/card.png')
                            span.likes
                                i(class='fa fa-heart' aria-hidden='true')
                                |382
                            h3 decayed
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            .chat
                                span.comments
                                    i(class='fa fa-comments' aria-hidden='true')
                                    |374 comments
                                button
                                    i(class='fa fa-ellipsis-h' aria-hidden='true')
                        .card
                            img(src='images/cards/card.png')
                            span.likes
                                i(class='fa fa-heart' aria-hidden='true')
                                |382
                            h3 bliss texture
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            .chat
                                span.comments
                                    i(class='fa fa-comments' aria-hidden='true')
                                    |374 comments
                                button
                                    i(class='fa fa-ellipsis-h' aria-hidden='true')
                        .card
                            img(src='images/cards/card.png')
                            span.likes
                                i(class='fa fa-heart' aria-hidden='true')
                                |382
                            h3 bliss texture
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            .chat
                                span.comments
                                    i(class='fa fa-comments' aria-hidden='true')
                                    |374 comments
                                button
                                    i(class='fa fa-ellipsis-h' aria-hidden='true')
                        .card
                            img(src='images/cards/card.png')
                            span.likes
                                i(class='fa fa-heart' aria-hidden='true')
                                |382
                            h3 bliss texture
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            .chat
                                span.comments
                                    i(class='fa fa-comments' aria-hidden='true')
                                    |374 comments
                                button
                                    i(class='fa fa-ellipsis-h' aria-hidden='true')
        .row.head-3
            .container
                .row.no-gutters
                    .row.container
                        .left-space
                            span
                                span january 2016
                        .col-20.col-sm-5
                            h3 Start-Up Resources
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                        .col-20.col-sm-5
                            h3 Training & Funding
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                        .col-20.col-sm-5
                            h3 Connect
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                        .col-20.col-sm-5
                            h3 Communicate
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
        .row.credits
            .container
                .row.no-gutters
                    .body.col-20
                        .mid.col-sm-8.offset-12.col-15
                            h2 Textures by
                            h3 Jordan Hetzer
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
        footer.row
            .container
                .row
                    .col-sm-5.col-20
                        h4 About
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    .col-sm-3.col
                        h4 History
                        span Resources
                        span Downloads & Updates
                        span Manuals
                        span Tech Specs
                        span System Status
                        span Accessibility
                    .col-sm-4.col
                        h4 Contact
                        span Apple Store (Education Institutions)
                        span 1300-551-927
                        span Apple Store (Small Business)
                        span 1300-369-095
                .row
                    span.policy.col Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    script(src='js/slick.min.js')
    script(src='js/main.js')
