.credits {
    @extend .head;
    background: url('../images/credits/bg.png') no-repeat center center;
    background-size: cover;
    height: 615px;
    @media screen and (max-width: map-get($container-max-widths, sm)) {
        .offset-12 {
            margin: 0;
        }
    }
    .mid {
        font-size: $dpx !important;
        margin-top: 231px;
        h2 {
            @include font(700, 16px, $montserrat);
            text-transform: uppercase;
            line-height: 1.375;
            color: #FFFFFF;
        }
        h3 {
            @include font(700, 40px, $montserrat);
            text-transform: capitalize;
            line-height: 0.85;
            color: #FFFFFF;
            margin-top: 20px;
            margin-bottom: 40px;
        }
        p {
            @include font(400, 13px, $montserrat);
            line-height: 1.923;
            color: #d6d6d6;
            text-transform: none;
        }
    }
}
