.head-3 {
    @extend .head;
    background: none;
    height: auto;
    .left-space {
        text-align: left;
        background: none;
    }
    @media screen and (max-width: map-get($container-max-widths, sm)) {
        font-size: 20px;
        .row {
            margin: 0;
        }
    }
    .col-sm-10 {
        margin-top: 84px;
        margin-bottom: 30px;
        p {
            @include font(400, 13px, $montserrat);
            line-height: 1.923;
            color: #d6d6d6;
        }
        @media screen and (max-width: map-get($container-max-widths, sm)) {
            margin: 0;
            margin-top: 40px;
        }
    }
    .col-sm-5 {
        margin-top: 80px;
        margin-bottom: 80px;
        @media screen and (max-width: map-get($container-max-widths, sm)) {
            margin: 0;
        }
        h3 {
            @include font(700, 24px, $montserrat);
            line-height: 2.253;
            color: #FFFFFF;
        }
        p {
            @include font(400, 13px, $montserrat);
            line-height: 1.923;
            color: #d6d6d6;
        }
    }
}
