.head {
    background: url('../images/head/bg.png') no-repeat center center;
    background-size: cover;
    height: 916px;
    position: relative;
    .left-space {
        color: rgb(255, 255, 255);
        position: absolute;
        left: 0;
        width: 80px;
        height: 100%;
        background: #15032a;
        text-align: center;
        text-transform: uppercase;
        i {
            font-size: 30px;
            margin-top: 30px;
        }
        > span {
            position: absolute;
            width: 300px;
            display: block;
            transform-origin: 0 0;
            bottom: 95px;
            left: 32.5px;
            transform: rotate(-90deg);
            font: 700 12px $montserrat;
            > span {
                font-weight: 400;
            }
        }
    }
    .body {
        .mid {
            text-transform: uppercase;
            color: rgb(255, 255, 255);
            font: 700 132px $montserrat;
            // line-height: 102px;
            line-height: 0.773;
            .h1 {
                position: relative;
                width: 100%;
                text-align: center;
                margin-top: 336px;
                .transparent-icon {
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%) translateY(-50%);
                    top: 50%;
                    display: table;
                    background: url('../images/head/bg.png') no-repeat center calc(50% + 23px);
                    background-size: 100vw 916px;
                    border-radius: 50%;
                    border: solid transparent 14px;
                    @media (max-width: 1520px) {
                        background-size: 1520px 916px !important;
                    }
                    .circle {
                        width: 119px;
                        height: 119px;
                        border: solid rgb(255, 255, 255) 7px;
                        border-radius: 50%;
                        display: table-cell;
                        vertical-align: middle;
                        text-align: center;
                        span {
                            font: 400 40px $dancingScript;
                            text-transform: lowercase;
                            display: block;
                            margin-top: -12px;
                            transform: rotate(-5deg);
                        }
                    }
                }
            }
        }
    }
    .bottom {
        margin-top: 216px;
        .text {
            color: rgb(255, 255, 255);
            h4 {
                font: 700 24px $montserrat;
                line-height: 1.042;
            }
            p {
                font: 400 13px $montserrat;
                line-height: 1.923;
            }
        }
        .date {
            color: rgb(255, 255, 255);
            span {
                font: 400 13px $montserrat;
                line-height: 1.923;
            }
            .arrow {
                height: 20px;
                width: 100%;
            }
        }
    }
}
